.vscode
.vscode-test
node_modules
examples
src/
.gitignore
tsconfig.json
webpack.config.js
esbuild.js
vsc-extension-quickstart.md
*.txt
ComprsdTechDoc.md
!node_modules/@vscode/vsce
!node_modules/global
!node_modules/node-gyp-build
!node_modules/tree-sitter
!node_modules/tree-sitter-c
# !node_modules/tree-sitter-c-sharp
!node_modules/tree-sitter-cpp
!node_modules/tree-sitter-go
!node_modules/tree-sitter-html
!node_modules/tree-sitter-java
!node_modules/tree-sitter-javascript
!node_modules/tree-sitter-lua
!node_modules/tree-sitter-php
!node_modules/tree-sitter-python
!node_modules/tree-sitter-ruby
!node_modules/tree-sitter-rust
!node_modules/tree-sitter-typescript